.pagination {
  display: flex;
  justify-content: center;
  margin: 10rem 0;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 3rem 5rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 2px 5px rgba($color: #000000, $alpha: 0.3);

    @media screen and (max-width: 833px) {
      width: 50%;
    }

    @media screen and (max-width: 430px) {
      width: 75%;
    }

    .pagination--leftArrow {
      position: absolute;
      left: 2rem;
      cursor: pointer;
      width: 4rem;

      @media screen and (max-width: 430px) {
        width: 3rem;
      }
    }

    .pageNumber {
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      font-size: 2rem;
      font-weight: 300;
      color: var(--primary-color);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }

    .pagination--rightArrow {
      position: absolute;
      right: 2rem;
      cursor: pointer;
      width: 4rem;

      @media screen and (max-width: 430px) {
        width: 3rem;
      }
    }
  }
}
