.nominees {
  margin-top: 20rem;
  display: flex;
  justify-content: center;

  &__container {
    .nominees__header {
      font-size: 4rem;
      font-weight: 300;
    }

    .nomineesCard__container {
      box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.2);
      margin: 5rem 0;
      padding: 3rem;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      .nomineesLoader {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .no-nominated {
        text-align: center;
        font-size: 3rem;
      }
    }
  }
}
