.notification {
  position: absolute;
  bottom: 5rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--light-text);
  height: 10rem;
  width: 50rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  animation: fadeIn 0.5s ease-in;
  -webkit-animation: fadeIn 1s ease-in;
  overflow-x: hidden;
  max-width: 100%;

  p {
    font-size: 2rem;
    width: 30rem;
    text-align: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

::-webkit-scrollbar {
  display: none;
}
