.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 8rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--primary-color);
  z-index: 10;

  .header__nav {
    ul {
      display: flex;
      align-items: center;

      li {
        list-style: none;
        font-size: 1.3rem;
        font-weight: 400;
        position: relative;
        cursor: pointer;

        span {
          font-size: 1.8rem;
        }

        .nomineeCount {
          background-color: var(--primary-color);
          position: absolute;
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          border-radius: 999px;
          -webkit-border-radius: 999px;
          -moz-border-radius: 999px;
          -ms-border-radius: 999px;
          -o-border-radius: 999px;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 1.3rem;
            color: var(--light-text);
          }
        }

        &:not(:last-child) {
          margin-right: 4rem;
        }
      }

      .logout--btn {
        background-color: var(--primary-color);
        color: var(--light-text);
        padding: 1rem 3rem;
        border: 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 1.6rem;
        font-family: 'Nunito Sans', sans-serif;
        outline: 0;
        cursor: pointer;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 1;
        }
      }
    }
  }
}
