.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--primary-color);
  z-index: 10;

  @media screen and (max-width: 900px) {
    padding: 1.5rem 5rem;
  }

  @media screen and (max-width: 785px) {
    padding: 1.5rem 3rem;
  }

  @media screen and (max-width: 430px) {
    padding: 1rem 2rem;
  }

  .header__logo {
    img {
      @media screen and (max-width: 500px) {
        width: 3rem;
      }
    }
  }

  .header__nav {
    ul {
      display: flex;
      align-items: center;

      a {
        color: var(--primary-color);
        text-decoration: none;

        li {
          list-style: none;
          font-size: 1.3rem;
          font-weight: 400;
          position: relative;
          cursor: pointer;

          @media screen and (max-width: 550px) {
            font-size: 1rem;
          }

          span {
            font-size: 1.8rem;

            @media screen and (max-width: 550px) {
              font-size: 1.3rem;
            }
          }

          .nomineeCount {
            background-color: var(--primary-color);
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-radius: 999px;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            -ms-border-radius: 999px;
            -o-border-radius: 999px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 550px) {
              width: 15px;
              height: 15px;
            }

            p {
              font-size: 1.3rem;
              color: var(--light-text);

              @media screen and (max-width: 550px) {
                font-size: 1rem;
              }
            }
          }
        }
        &:not(:last-child) {
          margin-right: 4rem;

          @media screen and (max-width: 620px) {
            margin-right: 2rem;
          }
        }
      }

      .logout--btn {
        background-color: var(--primary-color);
        color: var(--light-text);
        padding: 1rem 3rem;
        border: 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 1.6rem;
        font-family: 'Nunito Sans', sans-serif;
        outline: 0;
        cursor: pointer;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;

        @media screen and (max-width: 375px) {
          padding: 1rem 1.5rem;
          font-size: 1.3rem;
        }

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 1;
        }
      }
    }
  }
}
