.nomineeCard {
  display: flex;
  padding-bottom: 1rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(210, 210, 210);
  }

  &__image {
    margin-right: 2rem;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
  }

  &__content {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    p {
      font-size: 1.8rem;
      color: var(--primary-color);
    }

    .remove--btn {
      background-color: var(--primary-color);
      color: var(--light-text);
      border: 0;
      outline: 0;
      padding: 0.8rem 2rem;
      font-size: 1.4rem;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}
