.movieCard {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;

  &:not(:last-child) {
    margin-bottom: 5rem;
    border-bottom: 1px solid var(--primary-color);
  }

  .movieCard__image {
    position: relative;

    .moviePoster {
      width: 300px;
      height: 300px;
      object-fit: cover;
      transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
    }

    .moviePoster-visible {
      opacity: 1;
    }

    .moviePoster-hidden {
      opacity: 0;
    }

    .loader {
      position: absolute;
      top: 0;
      background-color: var(--primary-color);
      color: var(--light-text);
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;

      p {
        font-size: 3rem;
        font-weight: 600;
      }
    }

    .noMoviePoster {
      background-color: var(--primary-color);
      color: var(--light-text);
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;

      p {
        font-size: 3rem;
        font-weight: 600;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }
    }
  }

  .movieCard__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    height: 300px;

    .movie__details {
      .movie__title {
        font-size: 3rem;
        font-weight: 300;
        color: var(--primary-color);
        max-width: 300px;
      }

      .movie__year {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    .nominate--btn {
      background-color: var(--primary-color);
      color: var(--light-text);
      padding: 1rem 3rem;
      border: 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      font-size: 1.6rem;
      font-family: 'Nunito Sans', sans-serif;
      outline: 0;
      cursor: pointer;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }

    .nominate--btn:disabled {
      background-color: red;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
