.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  &__header {
    width: 50%;
    display: flex;
    justify-content: space-around;

    p {
      font-size: 2rem;
      font-weight: 600;
      color: var(--primary-color);
      cursor: pointer;
    }
  }

  .login__container,
  .signup__container {
    margin-top: 5rem;

    form {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border: 1px solid white;
      padding: 3rem;
      box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.3);

      input {
        background-color: white;
        border: 1px solid var(--primary-color);
        padding: 1rem;
        width: 300px;
        font-size: 1.6rem;
        color: var(--primary-color);
        outline: 0;
        font-family: 'Nunito Sans', sans-serif;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }

        &:focus {
          border: 2px solid var(--primary-color);
        }
      }

      button {
        padding: 1rem;
        width: 300px;
        font-size: 1.6rem;
        color: var(--light-text);
        outline: 0;
        font-family: 'Nunito Sans', sans-serif;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border: 0;
        background-color: var(--primary-color);
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 1;
        }
      }
    }
  }

  .loginLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    h1 {
      font-size: 3rem;
      font-weight: 300;
    }
  }
}
