.search {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  animation: fadeUp 0.5s;
  -webkit-animation: fadeUp 0.5s;

  @media screen and (max-width: 833px) {
    margin-top: 15rem;
  }

  .search__container {
    h2 {
      font-size: 3.5rem;
      font-weight: 300;

      @media screen and (max-width: 833px) {
        font-size: 2.5rem;
      }

      @media screen and (max-width: 410px) {
        font-size: 2rem;
      }
    }

    .search__inputContainer {
      form {
        display: flex;
        align-items: center;
        background-color: white;
        border: 1px solid var(--primary-color);
        padding: 1rem 2rem;
        margin-top: 4rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        input {
          font-family: 'Nunito Sans', sans-serif;
          background-color: transparent;
          border: 0;
          outline: 0;
          font-size: 1.6rem;
          flex: 1;
        }

        button {
          display: none;
        }

        img {
          cursor: pointer;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
